<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/SimonSimon" version="1.0.0" viewmodes="maximized">
    <tizen:application id="FWm1qxf9Vn.SimonSimon" package="FWm1qxf9Vn" required_version="3.0"/>
    <author email="jhon.corevill@gmail.com">Jhonatan Core</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>SimonSimon</name>
    <tizen:profile name="wearable"/>
</widget>
